{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SYS Medical Emergency App</title>
  <link rel="stylesheet" href="{% static 'website/style.css' %}">
</head>
<body>
  <div class="container">
    <header>
      <h1>SYS Medical Emergency App</h1>
      <p>A mobile app that helps increase access to healthcare in Uganda by offering a platform where one can call for assistance from emergency contacts, access first-aid instructions, and get to contact the nearest healthcare centers for further assistance.</p>
    </header>
    <main>
      <h2>Features</h2>
      <ul>
        <li>Panic button to call for assistance from emergency contacts</li>
        <li>Database of first-aid instructions</li>
        <li>Voice assistant to help users in an emergency</li>
        <li>Information about the nearest healthcare centers based off live-location</li>

      </ul>
      <h2>How to use</h2>
      <ol>
        <li>Download the app and register for an account.</li>
        <li>Enter your emergency contacts.</li>
        <li>Press the panic button in an emergency.</li>
        <li>The voice assistant will help you through the process.</li>
      </ol>
      <a class href="/howitworks/">Click Here To Learn How It Works</a>
    </main>
    <footer>
      <p>The SYS Medical Emergency App is a valuable tool for anyone who wants to be prepared for an emergency. The app is easy to use and it can help save lives.</p>
      <p>Copyright &copy; 2023 SYS Medical Emergency App</p>
    </footer>
  </div>
</body>
</html>
